<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Расписание</title>
        <!-- Tailwind CSS -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet">
        <!-- Шрифт Inter -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
            rel="stylesheet">
        <style>
            body {
                font-family: 'Inter', sans-serif;
            }
        </style>
    </head>
    <body class="bg-gray-100">
        <div class="container mx-auto">
            <div class="flex justify-between items-center my-10">
                <h1 class="text-3xl font-medium">Расписание учебной группы {{
                    group.name }}</h1>
            </div>

            <div class="flex flex-col grid grid-cols-3 gap-4">
                <!-- for i in range 1,18 -->
                {% for week in range(1, 18) %}
                <div class="bg-white rounded-lg shadow-lg">
                    <div class="px-4 py-4">
                        <h1 class="text-xl font-medium text-gray-700">Неделя {{
                            week }}</h1>
                    </div>
                    <div class="px-4 py-4">
                        <div class="flex flex-col gap-4">

                            {% for weekday in range(1, 7) %}
                            <!-- divider -->
                            <div class="border-t border-gray-200 my-4"></div>
                            <!-- Вывод по дням недели: -->
                            <p class="text-sm font-medium text-gray-700">
                                {% if weekday == 1 %}
                                Понедельник
                                {% elif weekday == 2 %}
                                Вторник
                                {% elif weekday == 3 %}
                                Среда
                                {% elif weekday == 4 %}
                                Четверг
                                {% elif weekday == 5 %}
                                Пятница
                                {% elif weekday == 6 %}
                                Суббота
                                {% endif %}
                            </p>

                            
                            {% for lesson in group.lessons %}
                            {% if week in lesson.weeks %}
                            {% if lesson.weekday == weekday %}

                            <div class="flex justify-between items-center">
                                <div>
                                    <h1 class="text-sm font-medium
                                        text-gray-700">{{
                                        lesson.calls.time_start }} - {{
                                        lesson.calls.time_end }}</h1>
                                    <h1 class="text-sm font-medium
                                        text-gray-700">{{ lesson.discipline.name
                                        }}</h1>
                                    <h1 class="text-sm font-medium
                                        text-gray-700">{{ lesson.room.name }}</h1>
                                </div>
                                <div>
                                    {% for teacher in lesson.teachers %}
                                    <h1 class="text-sm font-medium
                                        text-gray-700">{{ teacher.name }}</h1>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- <p class="text-sm font-medium text-gray-700">{{
                                lesson.calls.time_start }} - {{
                                lesson.calls.time_end }}</p>
                            <p class="text-sm font-medium text-gray-700">{{
                                lesson.discipline.name }}</p>
                            <p class="text-sm font-medium text-gray-700">{{
                                lesson.room.name }}</p>
                            <p class="text-sm font-medium text-gray-700">{{
                                lesson.teachers }}</p> -->
                            <!-- <div class="flex justify-between items-center">
                                <div>
                                    <h1 class="text-sm font-medium
                                        text-gray-700">{{
                                        lesson.calls.time_start }} - {{
                                        lesson.calls.time_end }}</h1>
                                    <h1 class="text-sm font-medium
                                        text-gray-700">{{ lesson.discipline.name
                                        }}</h1>
                                    <h1 class="text-sm font-medium
                                        text-gray-700">{{ lesson.room.name }}</h1>
                                </div>
                                <div>
                                    {% for teacher in lesson.teachers %}
                                    <h1 class="text-sm font-medium
                                        text-gray-700">{{ teacher.name }}</h1>
                                    {% endfor %}
                                </div>
                            </div> -->
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </body>

</html>